/* Theme inspired by "Less But Better" ePBT keycaps from OpenKey Design.

#393939 - dark background colour
#7c6b53 - brown highlights
#cc5a3f - red highlights
#e9e8e4 - light gray card colour

*/

:root {
    --darkgray: #393939;
    --lightbrown: #ccb492;
    --mutedred : #cc5a3f;
    --lightgray: #e9e8e4;
    --textcolor: #272727;
}

body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--textcolor)
}

h1, h2, h3 {
    margin: 0;
}

/* .container div {
    border: 1px dotted gray;
} */

.container {
    height: 100vh;
    display: grid;
    grid-template: 1fr 4fr / minmax(290px, 350px) 4fr;
}

.header {
    grid-column: 2 / 3;
    display: grid;
    grid-template-rows: 1fr 1.5fr;

    padding-left: 40px;
    box-shadow: 0 0 20px var(--lightgray);
}

.upper-header {
    display: grid;
    gap: 10px;
    grid-template-columns: 3fr 1fr;
    align-items: center;
}

.upper-header-left {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 50px 1fr;
}

.upper-header-left > img {
    align-self: center;
}

input[type=search] {
    background-color: var(--lightgray);
    border-radius: 20px;
    border: 0;
    height: 43px;
    width: 80%;
    padding-left: 20px;
    font-size: 1rem;
}

input[type=search]:focus {
    outline: none;
    box-shadow: 0 0 3px var(--darkgray);
}

input[type=search]::-webkit-search-cancel-button{
    position: relative;
    right: 20px; 
    opacity: 0.3;
}

.upper-header-right {
    display: grid;
    grid-template-columns: 1fr 1fr 3fr;
    align-items: center;
    gap: 20px;
}

img[alt="notification-bell"] {
    justify-self: right;
}

#display-pic {
    border-radius: 50%;
    justify-self: center;
}

.lower-header {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    padding-bottom: 30px;
}

.lower-header-left {
    display: grid;
    grid-template-columns: 200px 2fr;
    align-items: center;

    font-weight: 600;
}

.header-greeting > span {
    font-size: 22px;
}


.lower-header-right {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(auto-fit, minmax(100px, 150px));
    justify-content: right;
    column-gap: 20px;
    padding-right: 100px;
}

.lower-header-right button {
    height: 50px;
    width: 130px;
    border-radius: 30px;
    border: 0;
    font-weight: 600;
    font-size: 16px;
    background-color: var(--lightgray);
}

.sidebar {
    grid-column: 1 / span 1;
    grid-row: 1 / 3;
    display: grid;
    grid-template-rows: 150px 1fr 2fr;
    padding-left: 20px;

    background-color: var(--lightgray);
    box-shadow: 0 0 6px var(--lightgray);
    font-weight: 600;
}

.sidebar-title {
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.sidebar-lower,
.sidebar-upper {
    font-size: 23px;
    display: grid;
    grid-template-rows: repeat(auto-fit, 50px);
}

.title {
    display: grid;
    grid-template-columns: 36px 1fr;
    align-items: center;
    gap: 20px;
    padding: 5px;
}

.sidebar-title > h1 {
    font-size: 35px;
}

.main-content {
    grid-row: 2 / 3;
    display: grid;
    grid-template: 1fr 1fr / 3fr 1fr;
    padding-top: 40px;
    padding-left: 40px;
}

.projects {
    grid-area: 1 / 1 / 3 / 2;
}

.project-content {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(auto-fit, 300px);
    grid-auto-rows: 300px;
    gap: 20px;
}

.card {
    padding: 20px;
}

.announcements {
    grid-area: 1 / 2 / 2 / 3;
}

.favourites {
    grid-area: 2 / 2;
}